html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  width: 100%;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.board {
  display: grid;
  width: 100%;
  max-width: 500px;
  height: 100%;
  min-height: 250px;
  max-height: 500px;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  border-radius: 2rem;
  border: black solid 1px;
  overflow: hidden;
}

.card__word {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* .card:hover .card__word {
  display: none;
} */

.card--team-1 {
  background-color: red;
}
.card--team-2 {
  background-color: blue;
}
.card--neutral {
  background-color: tan;
}
.card--assassin {
  background-color: black;
}
